<p id="notice"><%= notice %></p>

<h1><%= @portfolio_item.title %></h1>

<hr>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<span><a href="http://placehold.it"><img src="http://placehold.it/600x400"></a></span>

<hr>

<%= link_to fa_icon('arrow-left'), portfolios_path %> |
<%= link_to fa_icon('pencil-square-o'), edit_portfolio_path(@portfolio_item) %> |
<%= link_to fa_icon('trash'), @portfolio_item, method: :delete, data: {confirm: 'Are you sure?'} %> 
